<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.mappers.CourseMapper">

<select id="selectCourse" parameterType="map" resultType="map">
	SELECT a.*,b.userName,b.nickName FROM t_course a LEFT JOIN t_teacher b ON a.teacherId=b.teacherId 
		<where>
		<if test=" str != null and str != '' ">
			courseName LIKE '%${str}%' or userName LIKE '%${str}%' or nickName LIKE '%${str}%'
		</if>	
	</where>	 
</select>

<insert id = "insertCourse" parameterType="Course">
	insert into t_course(courseName,teacherId) values(#{courseName},#{teacherId})
</insert>

<delete id="deleteCourseById" parameterType="map">
	delete from t_course where courseId=#{courseId}
</delete>

</mapper>