<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.mappers.UserMapper">

<select id="selectStudent" parameterType="map" resultType="map">
	select idNumber as userId,studentNum as userName,userName as nickName,major,address from t_student
	<where>
		<if test=" str != null and str != '' ">
			studentNum LIKE '%${str}%' or userName LIKE '%${str}%'
		</if>	
	</where>	 
</select>

<select id="selectTeacher" parameterType="map" resultType="map">
	select teacherId as userId,userName,nickName from  t_teacher 
	<where>
		<if test=" str != null and str != '' ">
			teacherId LIKE '%${str}%' or nickName LIKE '%${str}%' or userName LIKE '%${str}%'
		</if>	
	</where>
</select>

<select id="selectAdmin" parameterType="map" resultType="map">
	select adminId as userId,userName,nickName from  t_admin 
	<where>
		<if test=" str != null and str != '' ">
			adminId LIKE '%${str}%' or nickName LIKE '%${str}%' or userName LIKE '%${str}%'
		</if>	
	</where>
</select>

</mapper>